body
{
    margin: 0;
    background-color: #32373c;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    word-spacing: 1px;
    line-height: 30px;
}

#nav
{
    text-align: center;
    background-color: black;
    width: 100%;
}

#logo
{
    width: 18vh;
    transition: 0.5s;
}

#logo:hover
{
    opacity: 0.8;
}


ul
{
    margin-top: 1.5%;
    list-style-type: none;
    padding-bottom: 2%;
}

li{
    display: inline;
    margin-right: 3%;
    word-spacing: 3px;
}

.link{
    font-size: 2vw;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.7s;
}

.link:hover
{
    color: rgb(101, 101, 216);
    text-decoration: underline;
}

.center
{
    text-align: center;
}

video
{
    max-width: 60%;
    height: auto;
    margin-top: 2%;
}


#info
{
    width: 60%;
    margin: auto;
    margin-top: 4%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 25px;
}

h2
{
    font-size: 180%;
}

h4
{
    text-align: left;
}

.faq-question
{
    background-color: rgb(255, 255, 255, 0.2);
    margin-left: 30%;
    width: 40%;
    border-radius: 5px;
    padding: 1%;
    margin-top: 3%;
    transition: 0.5s;
}

.faq-question:hover
{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.4);
}

.faq-answer
{
    width: 40%;
    margin-left: 31%;
    border-radius: 5px;
}

h1
{
    font-size: 280%;
}

#kontakt
{
    margin-top: 4%;
}

#name
{
    text-align: left;
    font-size: 105%;
    margin-left: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 15%;
}

#message
{
    margin-top: 2%;
    text-align: left;
    font-size: 105%;
    margin-left: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 30%;
}

#send
{
    background-color: rgb(255, 255, 255, 0.2);
    width: 10%;
    border-radius: 5px;
    padding: 1%;
    margin-top: 3%;
    margin-left: 40%;
    transition: 0.5s;
}

#send:hover
{
    background-color: rgb(255, 255, 255, 0.4);
    cursor: pointer;
}

#social
{
    position: absolute;
    top: 85%;
    left: -1%;
}

.socials
{
    width: 4vw;
    height: auto;
}

@media all and (max-width: 600px)
{
    video
    {
        max-width: 90%;
        height: auto;
        margin-top: 5%;
    }
    h3
    {
        font-size: 90%;
    }
    .faq-question
    {
        background-color: rgb(255, 255, 255, 0.2);
        margin-left: 20%;
        width: 60%;
        border-radius: 5px;
        padding: 1%;
        margin-top: 3%;
        transition: 0.5s;
    }

        .faq-answer
    {
        width: 60%;
        margin-left: 21%;
        border-radius: 5px;
    }

    .link
    {
        font-size: 3vw;
    }

    .socials
    {
        width: 10vw;
        height: auto;
    }
}
